
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>PhishDetection</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/login">
            <span>
              PhishDetection
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a class="nav-link active" href="/predict">Home <span class="sr-only">(current)</span></a>
                </li>
				<li class="nav-item ">
                  <a class="nav-link" href="/history"> History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"> Logout </a>
                </li>
                
              </ul>
            </div>
            <div class="quote_btn-container ">
              <a href="">
                <img src="../static/images/call.png" alt="">
                <span>
                  Call : + 01 1234567890
                </span>
              </a>
             
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section ">
    <div class=" container">
      <div class="row">
          <div class="form col-md" id="form1">
              <div class="detail-box">
                <div class="heading_container">
                </br>
                 
    <table width="936" height="148" border="0" align="center" cellpadding="5" cellspacing="5">
      <tr>
        <td width="277">&nbsp;</td>
        <td width="370"><h1>Phish Block</h1></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><img src="../static/images/w3.png" width="198" height="305"></td>
        <td valign="top">
		
		<div style="border:2px solid #FF3300; width:600px; height:100px; line-height:100px; padding:10px">
		
		<h3><span class="style1"><img src="../static/images/w11.png">This Website has Blocked! </span></h3>
		
		</div>
		
		</td>
      </tr>
    </table>
            </div>	
          </div>
        </div>
      </div>
    </div>
  </section>
  </br>
  <!-- end about section -->


  <div class="footer_bg">

    <!-- contact section -->
    
    <!-- end contact section -->



    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="info_logo">
              <h3>
                
              </h3>
              <p>
               
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_links">
              <h4>
                BASIC LINKS
              </h4>
              <ul class="  ">
                <li class=" active">
                  <a class="" href="/userhome">Home <span class="sr-only">(current)</span></a>                </li>
                <li class="">
                  <a class="" href="/logout">Test</a>                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_contact">
              <h4>
                CONTACT DETAILS
              </h4>
              <a href="">
                <div class="img-box">
                  <img src="../static/images/telephone-white.png" width="12px" alt="">
                </div>
                <p>
                  +01 1234567890
                </p>
              </a>
              <a href="">
                <div class="img-box">
                  <img src="../static/images/envelope-white.png" width="18px" alt="">
                </div>
                <p>
                  PhishDetection@info.com
                </p>
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info_form ">
             
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->


    <!-- footer section -->
   <section class="container-fluid footer_section">
      <div class="container">
        <p>
         PhishDetection
          <a href="https://html.design/"></a>
        </p>
      </div>
    </section>
    <!-- footer section -->

  </div>

  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.js"></script>
  <script type="text/javascript" src="../static/js/custom.js"></script>


</body>

</html>